<h2>Hello</h2>
<nav>
    <li class="pr-4" routerLink="/">Home</li>
    <li class="pr-4" routerLink="/feed">Feed</li>
    <li class="pr-4" routerLink="/register">Register</li>
    <li class="pr-4" routerLink="/login">Login</li>
    <li class="pr-4" routerLink="/messages">Messages</li>
    <li class="pr-4" routerLink="/profile">Profile</li>
    <li class="pr-4" routerLink="/search-results">Search Results</li>
    <li class="pr-4" routerLink="/friend-requests">Friend Requests</li>
</nav>

<router-outlet></router-outlet>